<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>detail</title>
</head>
<body>

<table>
  <tr>
    <th>num</th>
    <th>id</th>
    <th>memberPassword</th>
    <th>memberName</th>
    <th>memberEmail</th>
    <th>phone</th>
    <th>address</th>
    <th>address2</th>

  </tr>
    <td th:text="${member.num}"></td>
    <td th:text="${member.memberId}"></td>
    <td th:text="${member.memberPw}"></td>
    <td th:text="${member.memberName}"></td>
    <td th:text="${member.memberEmail}"></td>
    <td th:text="${member.memberPhone}"></td>
    <td th:text="${member.memberAdrss}"></td>
    <td th:text="${member.memberAdrss2}"></td>

    </tr>

</table>
</body>
</html>