<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
  <tr>
    <th>여행지</th>
    <th>주소</th>
    <th>x좌표</th>
    <th>Y좌표</th>

    <th>삭제</th>
  </tr>
  <tr th:each="triplist: ${usertrip}">
    <td th:text="${triplist.tName}"></td>
    <td th:text="${triplist.tRocate}"></td>
    <td th:text="${triplist.tX}"></td>
    <td th:text="${triplist.tY}"></td>

    <td>
      <!-- query string /member?id=1
          rest api /member/1 -->
    </td>
    <td>
      <a th:href="@{|/save/via/${triplist.tName}|}">추가</a>
    </td>
  </tr>

</table>
<a th:href="@{/usertrip/ok}" >완료</a>




</body>
</html>